<a href="https://colab.research.google.com/github/glaucimara-jpg/Python.code/blob/main/DICION%C3%81RIOS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#DICIONÁRIOS - ARMAZENAMENTO (key->value) (chave->valor)
#VOCÊ PRECISA MANTER ARMAZENADO OS SEGUINTES DADOS DE ALUNO:
# NOME, IDADE, ALTURA, RG

aluno = {}

aluno = {
    'nome': 'João da Silva',
    'idade': 16,
    'altura': 1.72,
    'rg' : '33333333333'
    }

print(aluno)

{'nome': 'João da Silva', 'idade': 16, 'altura': 1.72, 'rg': '33333333333'}

In [ ]:
#Retornar o nome do aluno
print(aluno['nome'])
print(aluno['idade'])
print(aluno['altura'])
print(aluno['rg'])

João da Silva
16
1.72
33333333333

In [ ]:
#DICIONÁRIOS SÃO MUTÁVEIS
aluno['nome'] = 'Ezequiel'

print(aluno)

{'nome': 'Ezequiel', 'idade': 16, 'altura': 1.72, 'rg': '33333333333'}

In [ ]:
#DICIONÁRIOS NÃO ACEITAM VALORES DUPLICADOS NAS CHAVES
aluno = {
    'nome': 'João da Silva',
    'idade': 16,
    'idade':19
    }
print(aluno)

#Tamanho do dicionário

print(len(aluno))

{'nome': 'João da Silva', 'idade': 19}
2

In [ ]:
#Adicionando um novo valor no dicionário
aluno['cidade'] = 'São José dos Campos'

In [ ]:
#Adicionando um novo valor através do update
aluno.update({'estado':'SP', 'bairro': 'Aeroporto'})

In [ ]:
#Remover um elemento
aluno.pop('bairro')

'Aeroporto'

In [ ]:
#Remover o último elemento
aluno.popitem()

('estado', 'SP')

In [ ]:
print(aluno)

{'nome': 'João da Silva', 'idade': 16, 'altura': 1.72, 'rg': '33333333333', 'cidade': 'São José dos Campos'}

In [ ]:
lista_frutas = ['abacate', ['Morango', 'Kiwi']]
                          #     0         1
print(lista_frutas[1][1])
'''
idiomas = ['inglês', 'espanhol', 'frances']

aluno = {
    'key' : 'value',
    'nome' : input('Digite o seu nome: '),
    'idade': int(input('Digite a sua idade')),
    'altura': 1.72,
    'idiomas': idiomas
}

print(aluno)
'''

In [ ]:
#PREENCHA O FORMS QUE FOI DISPONIBILIZADO PELA EMBRAER, LOGO EM SEGUIDA
# RESOLVA OS EXERCÍCIOS SOBRE DICIONÁRIO QUE ESTÃO LOGO ABAIXO.
#INICIAREMOS A AULA APÓS ESSAS ATIVIDADES

Kiwi

"\nidiomas = ['inglês', 'espanhol', 'frances']\n\naluno = {\n    'key' : 'value',\n    'nome' : input('Digite o seu nome: '),\n    'idade': int(input('Digite a sua idade')),\n    'altura': 1.72,\n    'idiomas': idiomas\n}\n\nprint(aluno)\n"

In [ ]:
#CRIAR UM DICIONÁRIO DE CARROS CONTENDO NOME DO CARRO, COR DO CARRO,
#MARCA DO CARRO

carro = {
    'nome': 'Gol',
    'cor': 'Azul',
    'marca': 'Volkswagen'
}
print(carro)

{'nome': 'Gol', 'cor': 'Azul', 'marca': 'Volkswagen'}

In [ ]:
#EM SEGUIDA ADICIONAR O MODELO DO CARRO E A PLACA DO CARRO
#1ª Forma de adição
carro['modelo'] = 'G4'
print(carro)

{'nome': 'Gol', 'cor': 'Azul', 'marca': 'Volkswagen', 'modelo': 'G4'}

In [ ]:
#EM SEGUIDA ADICIONAR O MODELO DO CARRO E A PLACA DO CARRO
#1ª Forma de adição
carro['placa'] = 'AAA-0000'
print(carro)

{'nome': 'Gol', 'cor': 'Azul', 'marca': 'Volkswagen', 'modelo': 'G4', 'placa': 'AAA-0000'}

In [ ]:
#EM SEGUIDA ADICIONAR O MODELO DO CARRO E A PLACA DO CARRO
#2ª Forma de adição

carro.update({'modelo': 'G4', 'placa': 'AAA-0000'})
print(carro)

{'nome': 'Gol', 'cor': 'Azul', 'marca': 'Volkswagen', 'modelo': 'G4', 'placa': 'AAA-0000'}

In [ ]:
#EXCLUA EM SEGUIDA A COR DO CARRO DO DICIONÁRIO
carro.pop('cor')

#del carro['cor']
print(carro)

{'nome': 'Gol', 'marca': 'Volkswagen', 'modelo': 'G4', 'placa': 'AAA-0000'}

In [ ]:
#AGORA CRIE UM DICIONÁRIO VAZIO CHAMADO PESSOA
# RECEBA DO USUÁRIO ATRAVÉS DE UM INPUT OS CAMPOS NOME, RG, CPF, IDADE
#COLOQUE NO DICIONÁRIO ESSAS INFORMAÇÕES E DEPOIS IMPRIMA O DICIONÁRIO NA TELA (DAS DUAS MANEIRAS POSSÍVEIS)

pessoa = {}

nome = input('Digite o seu nome: ')
rg = input('Digite o seu RG: ')
cpf = input('Digite o seu cpf: ')
idade = int(input('Digite a sua idade: '))

pessoa.update({'nome': nome, 'rg': rg, 'cpf':cpf, 'idade':idade})

Digite o seu nome: João da SIlva
Digite o seu RG: 333333333333
Digite o seu cpf: 5555555555555
Digite a sua idade: 15

In [ ]:
print(pessoa)

{'nome': 'João da SIlva', 'rg': '333333333333', 'cpf': '5555555555555', 'idade': 15}

In [ ]:
'''
CRIAR O SEGUINTE CENÁRIO ABAIXO COM A UTILIZAÇÃO DE DICIONÁRIOS:

Uma família é composta por 3 filhos - Deve-se chamar por filho1, filho2, filho3
O retorno será nome, idade, ano_escola, cursos

'''

familia = {
  'filho1': {'nome': 'João',
        'idade': 16,
        'ano_escola': 1,
        'cursos' : ['Python', 'SQL', 'GCP']
        },
  'filho2': {
        'nome': 'Maria',
        'idade': 17,
        'ano_escola': 2,
        'cursos' : ['MongoDB', 'AWS', 'Azure']
    },
  'filho3': {
        'nome': 'Pedro',
        'idade': 15,
        'ano_escola': 1,
        'cursos' : ['Java', 'Azure', 'PHP']
    }
}

In [ ]:
print(familia)

{'filho1': {'nome': 'João', 'idade': 16, 'ano_escola': 1, 'cursos': ['Python', 'SQL', 'GCP']}, 'filho2': {'nome': 'Maria', 'idade': 17, 'ano_escola': 2, 'cursos': ['MongoDB', 'AWS', 'Azure']}, 'filho3': {'nome': 'Pedro', 'idade': 15, 'ano_escola': 1, 'cursos': ['Java', 'Azure', 'PHP']}}

In [ ]:
filho = familia.get('filho1')

In [ ]:
idade_filho = filho.get('idade')

In [ ]:
print(idade_filho)

16

In [ ]:
idade = familia.get('filho4', {}).get('idade', 'Idade não informada!')

In [ ]:
print(idade)

Idade não informada!

In [ ]:
print(idade)

17

In [ ]:
#Informações do filho1
print(familia['filho1'])
#Idade do filho1
print(familia['filho1']['idade'])
#Cursos do filho1
print(familia['filho1']['cursos'])
#Segundo curso que o filho1 fez
print(familia['filho1']['cursos'][1])

{'nome': 'João', 'idade': 16, 'ano_escola': 1, 'cursos': ['Python', 'SQL', 'GCP']}
16
['Python', 'SQL', 'GCP']
SQL

In [ ]:
filho = {}
familia = {}
cont=0
for cont in range(1,4):
  filho = {}
  filho['nome'] = input(f'Digite o nome do {cont}º filho: ')
  filho['idade'] = input(f'Digite a idade do {cont}º filho: ')
  filho['ano_escolar'] = input(f'Digite o ano escolar do {cont}º filho: ')
  filho['cursos'] = input(f'Digite os cursos do {cont}º filho: ')
  familia[f'filho{cont}'] = filho
  cont += 1

f='filho'+input("Qual filho deseja as informações: ")
print(familia[f])

KeyboardInterrupt: Interrupted by user

In [ ]:
# Criar um dicionário vazio para a família
familia = {}

# Adicionar os filhos ao dicionário
familia['filho1'] = {'nome': 'João', 'idade': 12, 'ano_escola': 7, 'cursos': ['Matemática', 'Português', 'Ciências']}
familia['filho2'] = {'nome': 'Maria', 'idade': 10, 'ano_escola': 5, 'cursos': ['Matemática', 'Português', 'Arte']}
familia['filho3'] = {'nome': 'Pedro', 'idade': 15, 'ano_escola': 9, 'cursos': ['Matemática', 'Português', 'Física', 'Química']}

print("Dicionário da família: ")

# Dicionário da família:
{'filho1': {'nome': 'João', 'idade': 12, 'ano_escola': 7, 'cursos': ['Matemática', 'Português', 'Ciências']},
 'filho2': {'nome': 'Maria', 'idade': 10, 'ano_escola': 5, 'cursos': ['Matemática', 'Português', 'Arte']},
 'filho3': {'nome': 'Pedro', 'idade': 15, 'ano_escola': 9, 'cursos': ['Matemática', 'Português', 'Física', 'Química']}}
# Acessar informações de cada filho
for filho in familia:
    print(f"Nome: {familia[filho]['nome']}")
    print(f"Idade: {familia[filho]['idade']}")
    print(f"Ano_escolar: {familia[filho]['ano_escola']}")
    print(f"Cursos: {familia[filho]['cursos']}")
    print("------------------------")

Dicionário da família:
Nome: João
Idade: 12
Ano_escolar: 7
Cursos: ['Matemática', 'Português', 'Ciências']
------------------------
Nome: Maria
Idade: 10
Ano_escolar: 5
Cursos: ['Matemática', 'Português', 'Arte']
------------------------
Nome: Pedro
Idade: 15
Ano_escolar: 9
Cursos: ['Matemática', 'Português', 'Física', 'Química']
------------------------

Métodos de Dicionário

In [ ]:
carro = {
    'nome': 'Gol',
    'cor': 'Azul',
    'marca': 'Volkswagen',
    'modelo': 'G4',
    'placa': 'AAA-0000'
}

In [ ]:
#keys()
#chaves = carro.keys()

for indice in carro.keys():
  print(indice)

In [ ]:
#values()

for valores in carro.values():
  print(valores)

Gol
Azul
Volkswagen
G4
AAA-0000

In [ ]:
#items()

for indice, valor in carro.items():
  print(indice, valor)

nome Gol
cor Azul
marca Volkswagen
modelo G4
placa AAA-0000

In [ ]:
#Retornar um valor específico

print(carro['modelo'])

G4

In [ ]:
#Função que retorna um valor específico
print(carro.get('modelo', 'Esse atributo não existe'))

G4