<a href="https://colab.research.google.com/github/glaucimara-jpg/Python.code/blob/main/Vari%C3%A1veis_e_Operadores.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Por que Python?

- Uma das linguagens mais fáceis para o aprendizado
- É uma linguagem nova, 1990
- Comunidade muito engajada
- Utilizado em várias áreas

Dados (Pandas, Pyspark, Numpy)
Desenvolvimento Web (Django, Flask)
Automação (Selenium, Pytest, PyUnit)
Desenvolvimento de Jogos (PyGame)

In [ ]:
#VARIÁVEIS - Posso armazenar números (inteiros, ponto flutuante), textos, booleano

print("Olá Mundo")

nome = 'Bismark'
idade = 34
altura = 1.88

print(nome, idade)

Olá Mundo
Bismark 34

In [ ]:
print(type(nome))
print(type(idade))
print(type(altura))

<class 'str'>
<class 'int'>
<class 'float'>

In [ ]:
'''
Deve começar com uma letra ou com sublinhado (_)
Não utilizar caracteres especiais (*)
Não utilizar palavras reservadas int, type
Utilizar nomes que façam sentido
Python é Case Sensitive(Diferencia maiúsculas de minúsculas)
'''

numero = 10
print(NUMERO)
nome_completo = 'Bismark William'
nome_completo
NomeCompletoDaPessoa
PI = 3.14

NameError: name 'NUMERO' is not defined

In [ ]:
#CONVERSÃO DE TIPOS

n = 10 # Possui um número inteiro
x = '10' # Possui um texto string
'''
int('20')
float('10')
str(20)
'''
print(type(n))
print(type(x))

n = str(n)
print(type(n))

#print(n + int(x)) # 10 + 10 = 20
#print(str(n) + x) # '1010'

<class 'int'>
<class 'str'>
<class 'str'>

In [ ]:
#ENTRADA DE DADOS
nome = input('Digite o seu nome completo: ')
idade = int(input('Digite a sua idade: '))

print(type(nome))
print(type(idade))

print('Olá', nome, 'você tem', idade, 'anos')

OPERADORES ARITMÉTICOS

+ Operador de SOMA
- Operador de SUBTRAÇÃO
* Multiplicação
/ Divisão
// Divisão Inteira
% Resto da Divisão
** Exponenciação

In [ ]:
#SOMA

numero1 = 10
numero2 = 5

soma = numero1 + numero2

print(soma)

15

In [ ]:
#SUBTRAÇÃO

numero1 = 5
numero2 = 3

sub = numero1 - numero2

print(sub)

2

In [ ]:
#MULTIPLICAÇÃO

numero1 = 4
numero2 = 7

mult = numero1 * numero2

print(mult)

28

In [ ]:
#DIVISÃO

numero1 = 10
numero2 = 3

div = numero2 / numero1

print(div)

0.3

In [ ]:
#DIVISÃO INTEIRA

numero1 = 10
numero2 = 3

div = numero1 // numero2

print(div)

3

In [ ]:
#RESTO DA DIVISÃO

numero1 = 20
numero2 = 5

resto = numero1 % numero2

print(resto)

0

In [ ]:
#EXPONENCIAÇÃO

numero1 = 2
numero2 = 3

exp = numero1 ** numero2

print(exp)

8

In [ ]:
#Criem um algoritmo que leia dois números float e retorne as 4 operações básicas da matemática
'''
ler o primeiro número do tipo float- OK
ler o segundo número do tipo float - OK

somar o primeiro número com o segundo e jogar em uma variável soma - OK
subtrair o primeiro número com o segundo e jogar em uma variável sub - OK
multiplicar o primeiro número com o segundo e jogar em uma variável mult - OK
dividir o primeiro número com o segundo e jogar em uma variável div - OK

Exibir cada uma das variáveis na tela (soma, sub, mult, div) - OK
'''

numero1 = float(input("Digite o primeiro número: "))
numero2 = float(input("Digite o segundo número: "))

soma = numero1 + numero2
sub = numero1 - numero2
mult = numero1 * numero2
div = numero1 / numero2

#Números reais (float) 10.5, 10, 10.0

print("Soma: ", soma)
print("Subtração: ", sub)
print("Multiplicação: ", mult)
print("Divisão: ", div)

Digite o primeiro número: 10.0
Digite o segundo número: 10.0
Soma:  20.0
Subtração:  0.0
Multiplicação:  100.0
Divisão:  1.0

In [ ]:
#Crie um algoritmo que exiba apenas a parte decimal de uma divisão de 10 por 3
'''
criar uma variável que receba o valor 10 - OK
criar uma segunda variável que receba o valor 3 - OK
primeira_operacao = Se eu dividir o primeiro número pelo segundo / = Recebe a divisão total com os decimais
segunda_operacao = Se eu dividir o primeiro número pelo segundo // = Recebe apenas a parte inteira da divisão
primeira_operacao - segunda_operacao = apenas a parte decimal
'''

n1 = 10
n2 = 3

primeira_operacao = n1 / n2
segunda_operacao = n1 // n2

parte_decimal = primeira_operacao - segunda_operacao

print("Resultado da primeira operação: ", primeira_operacao)
print("Resultado da segunda operação: ", segunda_operacao)
print("Parte Decimal: ", parte_decimal)

Resultado da primeira operação:  3.3333333333333335
Resultado da segunda operação:  3
Parte Decimal:  0.3333333333333335

In [ ]:
#Operador Maior que

maior = 6 > 4 #Retorna True

print(type(maior))
print(maior)

<class 'bool'>
True